<div style='width: 80%; margin: 0 auto;'>
  <label>Spreadsheet</label> <input id='datafile' accept='*' type='file'/>
</div>

  {{#if data.table}}

<div class='table-container'>
    {{#light-table data.table height='45vh' as |t|}}
      {{t.head
        iconAscending='fa fa-sort-asc'
        iconDescending='fa fa-sort-desc'
        resizeOnDrag=true
        fixed=true
      }}

      {{#t.body canSelect=false as |body|}}
        {{#if isLoading}}
          {{#body.loader}}
            {{table-loader}}
          {{/body.loader}}
        {{/if}}
      {{/t.body}}

    {{/light-table}}
</div>

<div class='select' multiple>
{{#each types as |type|}}
  {{type.label}}
    <select onchange={{action 'mapAttribute' type.value}}>
      <option disabled selected>
        Select One
      </option>
      {{#each data.table.columns as |column|}}
        <option value='{{column.label}}'>
          {{column.label}}
        </option>
      {{/each}}
    </select>
{{/each}}
<button {{action 'generateFeaturs'}}>Generate Features</button>

</div>
  {{/if}}

{{#if data.features}}
<style>.leaflet-container { height: 40vh; width: 100vw; }</style>
{{#leaflet-map bounds=bounds onLayeradd=(action 'layerAdded') as |map|}}
  {{tile-layer url='http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'}}
  {{#each data.features as |feature|}}
    {{#map.marker lat=feature.lat lng=feature.lng draggable=true onDragend=(action 'updateLocation' feature) as |marker|}}
      {{#marker.popup}}
      <table>
        <tbody>
        {{#each-in feature as |key value|}}
        <tr>
          <td>{{key}}</td>
          <td>{{input value=value change=(action 'updateFeature' key feature)}}</td>
        </tr>
        {{/each-in}}
        </tbody>
      </table>
      {{/marker.popup}}
    {{/map.marker}}
  {{/each}}
{{/leaflet-map}}
{{/if}}
