<div style='width: 80%; margin: 0 auto;'>
<input id='sheet' accept="*" type="file"/>
{{#if table}}
<div class='table-container'>
{{#light-table table height='65vh' as |t|}}
  {{t.head
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    resizeOnDrag=true
    fixed=true
  }}

  {{#t.body
    canSelect=false
    as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}}
</div>
<div class='preview'>
<div class='select'>
  Title
  <div class=''>
  <select onchange={{action 'mapAttribute' 'title'}}>
    <option disabled selected>
      Select One
    </option>
    {{#each columns as |column|}}
      <option value='{{column.label}}'>
        {{column.label}}
      </option>
    {{/each}}
  </select>
</div>
  Lat
  <div class=''>
  <select onchange={{action 'mapAttribute' 'lat'}}>
    <option disabled selected>
      Select One
    </option>
    {{#each columns as |column|}}
      <option value='{{column.label}}'>
        {{column.label}}
      </option>
    {{/each}}
  </select>
</div>
  Lng
  <div class=''>
  <select onchange={{action 'mapAttribute' 'lng'}}>
    <option disabled selected>
      Select One
    </option>
    {{#each columns as |column|}}
      <option value='{{column.label}}'>
        {{column.label}}
      </option>
    {{/each}}
  </select>
</div>
  Description <i class="fa fa-plus-circle" aria-hidden="true" onclick={{action 'addInput'}}></i>
  <div class='description'>
    {{#each description as |d|}}
  <select onchange={{action 'concatDescriptionPreview' 'description'}}>
    <option disabled selected>
      Select One
    </option>
    {{#each columns as |column|}}
      <option value='{{column.label}}'>
        {{column.label}}
      </option>
    {{/each}}
  </select>
  {{/each}}
</div>
  Image(s),
  <div class=''>
  <select onchange={{action 'mapAttribute' 'images'}}>
    <option disabled selected>
      Select One
    </option>
    {{#each columns as |column|}}
      <option value='{{column.label}}'>
        {{column.label}}
      </option>
    {{/each}}
  </select>
</div>
  Image Credit
  <div class=''>
  <select onchange={{action 'mapAttribute' 'image-credit'}}>
    <option disabled selected>
      Select One
    </option>
    {{#each columns as |column|}}
      <option value='{{column.label}}'>
        {{column.label}}
      </option>
    {{/each}}
  </select>
</div>
  Video
  <div class=''>
  <select onchange={{action 'mapAttribute' 'video'}}>
    <option disabled selected>
      Select One
    </option>
    {{#each columns as |column|}}
      <option value='{{column.label}}'>
        {{column.label}}
      </option>
    {{/each}}
  </select>
</div>
  Audio
  <div class=''>
  <select onchange={{action 'mapAttribute' 'audio'}}>
    <option disabled selected>
      Select One
    </option>
    {{#each columns as |column|}}
      <option value='{{column.label}}'>
        {{column.label}}
      </option>
    {{/each}}
  </select>
</div>
  Filter
  <div class=''>
  <select onchange={{action 'mapAttribute' 'filter'}}>
    <option disabled selected>
      Select One
    </option>
    {{#each columns as |column|}}
      <option value='{{column.label}}'>
        {{column.label}}
      </option>
    {{/each}}
  </select>
</div>
{{!-- {{#each types as |type|}}
  {{type.label}}
    <select onchange={{action 'mapAttribute' type.value}}>
      <option disabled selected>
        Select One
      </option>
      {{#each columns as |column|}}
        <option value='{{column.label}}'>
          {{column.label}}
        </option>
      {{/each}}
    </select>
{{/each}} --}}
{{#if (and attributeMap.lat attributeMap.lng)}}
  <button {{action 'generateFeaturs'}}>Generate Features</button>
{{/if}}

</div>

<div class='preview-detail'>
<h2>Sample Detail Window</h2>
<div class='swiper-container'>
<div class='swiper-wrapper'>

</div>
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
  </div>
  <div id='preview-video' />
  <div id='preview-audio' />
  <div class='description-preview' id='preview-description' />
</div>

<div class='geojson'>
  {{#leaflet-map lat=lat lng=lng zoom=zoom}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
    {{#each geoJsonFeatures as |feature|}}
      {{geojson-layer geoJSON=feature onEachFeature=onEachFeature pointToLayer=pointToLayer}}
    {{/each}}
  {{/leaflet-map}}
  {{yield}}
</div>
</div>
{{/if}}
</div>
