<div style='width: 80%; margin: 0 auto;'>
<input id='sheet' onchange={{action "loadSpreadsheet"}} accept="*" type="file"/>
{{#if table}}
<div class='table-container'>
{{#light-table table height='65vh' as |t|}}
  {{t.head
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    resizeOnDrag=true
    fixed=true
  }}

  {{#t.body
    canSelect=false
    as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}}
</div>
<div class='preview'>
<div class='select' multiple>
{{#each types as |type|}}
  {{type.label}}
    <select onchange={{action 'mapAttribute' type.value}}>
      <option disabled selected>
        Select One
      </option>
      {{#each columns as |column|}}
        <option value='{{column.label}}'>
          {{column.label}}
        </option>
      {{/each}}
    </select>
{{/each}}
<button {{action 'generateFeaturs'}}>Generate Features</button>

</div>

<div class='geojson'>
  {{#leaflet-map lat=lat lng=lng zoom=zoom}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
    {{#each geoJsonFeatures as |feature|}}
      {{geojson-layer geoJSON=feature onEachFeature=onEachFeature pointToLayer=pointToLayer}}
    {{/each}}
  {{/leaflet-map}}
  {{yield}}
</div>
</div>
{{/if}}
</div>
