<div style='width: 80%; margin: 0 auto;'>
<input multiple="true" id='sheet' onchange={{action "loadSpreadsheet"}} accept="*" type="file"/>
{{#if table}}
{{#light-table table height='65vh' as |t|}}
  {{t.head
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    resizeOnDrag=true
    fixed=true
  }}

  {{#t.body
    canSelect=false
    as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}}
<div class='preview'>
<div class='select'>
{{#each types as |type|}}
  {{type.label}}
    <select onchange={{action 'mapAttribute' type.value}}>
      <option disabled selected>
        Select One
      </option>
      {{#each columns as |column|}}
        <option value='{{column.label}}'>
          {{column.label}}
        </option>
      {{/each}}
    </select>
{{/each}}
</div>
<a {{action 'generateFeaturs'}}><h1>generateFeatures</h1></a>

<div class='geojson'>
  {{#leaflet-map lat=lat lng=lng zoom=zoom}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#each geoJsonFeatures as |feature|}}
  {{!-- {{#popup-layer}}
      <table>
        <tr>
          <td>
            Title
          </td>
          <td>
            {{feature.properties.title}}
          </td>
        </tr>
        <tr>
          <td>
            Description
          </td>
          <td>
            {{feature.properties.description}}
          </td>
        </tr>
      </table>
    {{/popup-layer}} --}}
  {{geojson-layer geoJSON=feature onEachFeature=hi}}
  {{/each}}
  {{/leaflet-map}}
  <textarea>{{strGeojson}}</textarea>
</div>
</div>
{{/if}}
</div>
